<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품등록</title>
</head>
<body>
  <div class="wrap">
    <h3>상품등록</h3>
    <div>
      <form action="" method="post">
        <div>
          <label for="">상품명</label>
          <input type="text" name="pname">
        </div>
        <div>
          <label for="">수량</label>
          <input type="text" name="quantity">
        </div>
        <div>
          <label for="">가격</label>
          <input type="text" name="price">
        </div>
        <div><button type="submit">등록</button></div>
      </form>
    </div>
  </div>
</body>
</html>